# Use this .env file for testing
CONTAINER_NAME=cxx_led_on_test_bbb

SRC_PATH_HOST=${PWD}/led_on
BUILD_PATH_HOST=${PWD}/build_test_bbb

SRC_PATH_TARGET=/usr/src/led_on
BUILD_PATH_TARGET=/usr/src/build_test_bbb

# Can specify custom UID:GID
# USERID=1000
# GROUPID=1000
