# Use this .env file for testing
CONTAINER_NAME=cxx_led_on_test_bbb

SRC_PATH_HOST=${PWD}/led_on
SRC_PATH_TARGET=/usr/src/led_on

BUILD_PATH_HOST=${PWD}/build_test_bbb
BUILD_PATH_TARGET=/usr/src/build_test_bbb

# Specify path to Toolchain.cmake file
TOOLCHAIN_FILE_PATH_HOST=${PWD}/Toolchain-beagleboneblack.cmake
TOOLCHAIN_FILE_PATH_TARGET=/usr/src/build_test_bbb/Toolchain-beagleboneblack.cmake

TOOLCHAIN_PATH_HOST=${PWD}/toolchain/gcc-linaro-6.4.1-2018.05-x86_64_arm-linux-gnueabihf
TOOLCHAIN_PATH_TARGET=/usr/src/toolchain

# Can specify custom UID:GID
# USERID=1000
# GROUPID=1000
